* {
   border-radius:20px;
   padding: 10px;
}

main {
   display: flex;
   flex-wrap: wrap;
   width: 33%;
}
/*Made width 33% of page for now as reference. We can probably use CSS columns later. -Aaron*/

.form-container {
   display: inline-block;
   background-color:rgb(130, 224, 158);
   border: 3px solid black;
   width: 100%;
   
}

h1{
   text-align: center;
}

input {
   width:90%;
}

select {
   width:100%;
}

button {
   display:block;
   width:100%;
}


